<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
	  <services>
    <!--<service name="Service">
     <endpoint address="" behaviorConfiguration="RESTBehavior" binding="webHttpBinding"
      contract="Service" />
    </service>-->
    <service name="Service2">
     <endpoint address="" behaviorConfiguration="RESTBehavior"
      binding="webHttpBinding" contract="Service2" />
    </service>
   </services>

	  <behaviors>
    <endpointBehaviors>
     <behavior name="RESTBehavior">
      <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
     </behavior>
     <behavior name="Service2AspNetAjaxBehavior">
      <enableWebScript />
     </behavior>
    </endpointBehaviors>
    <serviceBehaviors>
     <behavior name="">
      <serviceMetadata httpGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="true" />
     </behavior>
    </serviceBehaviors>
   </behaviors>
	  <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>